@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&display=swap');

:root{
--bg-color: #705C53;
  --primay-color: #F2BED1;
  --secundary-color: #F9F5F6;
  --font: "nunito sans", sans-serif;
}

  body{
    background-color: var(--bg-color);
    color: var(--primay-color);
    font-family: var(--font);
    height:100vh;
    margin: 0;
  }

  header(
   background-color: var(--primary-color);
   text-align:center;
}

  h1{
font-size: 2rem;
color: var(--bg-color);
font-weight: 700;
  }

nav{
    display: flex;
    justify-content: center;
    font-weight: 400;
}

nav a}
     text-decoration:nome;
     color: var(--big color);
     nargin: 0 2ren 1ren 0;
     font-size: 1.2ren;
}

nav a:houver{
      text-decoration: underline;
      transform: scale(0.9);
      transition: transform 0.1s;
}

footer{
     display: flex;
     align-items: center;
     justify-content: center;